.modal{

position:fixed;

left:0;

right:0;

top:0;

bottom:0;

background:rgba(0,0,0,.4);

display:flex;

justify-content:center;

align-items:center;

}

.dialog{

width:700px;

background:white;

border-radius:10px;

padding:25px;

}

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-bottom:15px;

}

input,
textarea{

padding:10px;

border:1px solid #ddd;

border-radius:5px;

width:100%;

}

.footer{

display:flex;

justify-content:flex-end;

gap:10px;

margin-top:20px;

}

button{

padding:10px 20px;

border:none;

border-radius:5px;

cursor:pointer;

}